*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body{
    background: url(./assets/room.jpg) no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.registration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.registration h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px, 0;
}

.registration p{
    font-size: 20px;
    margin: 15px 0;
}

.registration input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: rgb(86, 189, 202);
    align-items: center;
    
}

.registration button:hover{
   color: rgb(68, 12, 12); 
}